<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - MediSphere</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:400,700">
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: Raleway, sans-serif;
        }

        body {
            background-image: url("medi.jpg");
            background-size: cover;
        }

        .container {
            display: flex;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
        }

        .screen {
            background: linear-gradient(90deg, #24a4d8, #7C78B8);
            position: relative;
            height: 100%;
            width: 100%;
            box-shadow: 0px 0px 24px #5C5696;
        }

        .signup__input::placeholder {
            color: #535353; /* Set the desired color for the placeholder text */
        }

        .screen__content {
            z-index: 1;
            position: relative;
            height: 100%;
            padding: 30px;
        }

        .screen__background {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 0;
            -webkit-clip-path: inset(0 0 0 0);
            clip-path: inset(0 0 0 0);
        }

        .screen__background__shape {
            transform: rotate(45deg);
            position: absolute;
        }

        .screen__background__shape1 {
            height: 520px;
            width: 520px;
            background: #FFF;
            top: -50px;
            right: 120px;
            border-radius: 0 72px 0 0;
        }

        .screen__background__shape2 {
            height: 220px;
            width: 220px;
            background: #6C63AC;
            top: -172px;
            right: 0;
            border-radius: 32px;
        }

        .screen__background__shape3 {
            height: 540px;
            width: 190px;
            background: linear-gradient(270deg, #5D54A4, #6A679E);
            top: -24px;
            right: 0;
            border-radius: 32px;
        }

        .screen__background__shape4 {
            height: 400px;
            width: 200px;
            background: #7E7BB9;
            top: 420px;
            right: 50px;
            border-radius: 60px;
        }

        .signup {
            width: 320px;
            padding: 30px;
            padding-top: 156px;
        }

        .signup__field {
            padding: 10px 0px;
            position: relative;
        }

        .signup__icon {
            position: absolute;
            top: 30px;
            color: #fff; /* Changed icon color to white */
        }

        .signup__input {
            border: none;
            border-bottom: 2px solid #e2e2e2;
            background: none;
            padding: 10px;
            padding-left: 10px;
            font-weight: 700;
            width: 150%;
            transition: .2s;
            color: #000000; /* Changed text color to white */
            font-size: 20px; /* Changed font size */
        }

        .signup__input:active,
        .signup__input:focus,
        .signup__input:hover {
            outline: none;
            border-bottom-color: #6A679E;
        }

        .signup__submit {
            background: #ffffff;
            font-size: 14px;
            margin-top: 30px;
            padding: 16px 20px;
            border-radius: 26px;
            border: 1px solid #D4D3E8;
            text-transform: uppercase;
            font-weight: 700;
            display: flex;
            align-items: center;
            width: 100%;
            color: #4C489D;
            box-shadow: 0px 2px 2px #5C5696;
            cursor: pointer;
            transition: .2s;
        }

        .signup__submit:active,
        .signup__submit:focus,
        .signup__submit:hover {
            border-color: #6A679E;
            outline: none;
        }

        .button__icon {
            font-size: 24px;
            margin-left: auto;
            color: #7875B5;
        }

        .signup-link {
            text-align: center;
            margin-top: 20px;
            color: #fff;
            font-size: 16px;
        }

        .signup-link a {
            color: #5b13b9;
            font-weight: 700;
            text-decoration: none;
        }

        .title {
            font-size: 55px;
            font-weight: 900;
            color: #fff; /* Changed title color to white */
            text-align: center;
            margin-bottom: -80px;
            padding: -10px;
            padding-left: 260px;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
            letter-spacing: 2px;
            font-family: 'Raleway', sans-serif;
        }

        /* Your existing styles */

        .signup__input::placeholder {
            color: #535353; /* Set the desired color for the placeholder text */
        }

        /* Add this style to customize the appearance of the date picker */
        .ui-datepicker {
            background-color: #fff;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        /* Add this style to customize the appearance of the date picker header */
        .ui-datepicker-header {
            background-color: #24a4d8;
            color: #fff;
            border: none;
        }

        /* Add this style to customize the appearance of the date picker day cells */
        .ui-datepicker-calendar td a {
            color: #000;
        }

        /* Add custom styles for doctor schedule fields */
        .signup__schedule {
            margin-top: 20px;
        }

        .signup__schedule label {
            display: block;
            margin-bottom: 10px;
            color: #fff;
        }

        .signup__schedule select {
            width: 100%;
            padding: 10px;
            border: 2px solid #e2e2e2;
            border-radius: 5px;
            background: none;
            color: #000;
            font-size: 16px;
        }
        .signup__schedule-container {
    display: flex;
}

.signup__schedule {
    flex: 1;
    margin-right: 10px; /* Adjust as needed */
}

.signup__schedule:last-child {
    margin-right: 0;
}

    </style>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <!-- Include jQuery UI CSS for styling -->
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>

<body>
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <div class="title">
                    <span class="medi" style="color: #fff;">Medi</span><span class="sphere" style="color: #5f59ce;">Sphere</span>
                </div>
                <form class="signup" action="/docsignup" method="post">
                    <!-- Add Last Name, Email, Date of Birth, Contact Number, Address, Gender, Blood Group fields here -->
<!-- First Name -->
<div class="signup__field">
  <i class="signup__icon fas fa-user"></i>
  <input type="text" class="signup__input" placeholder="First Name" name="firstname" required>
</div>

<!-- Last Name -->
<div class="signup__field">
  <i class="signup__icon fas fa-user"></i>
  <input type="text" class="signup__input" placeholder="Last Name" name="lastname" required>
</div>

<!-- Date of Birth -->
<div class="signup__field">
  <i class="signup__icon fas fa-calendar-alt"></i>
  <input type="text" class="signup__input" name="dateOfBirth" required>
</div>

<!-- Gender -->
<div class="signup__field">
  <i class="signup__icon fas fa-venus-mars"></i>
  <select class="signup__input" name="gender" required>
      <option value="" disabled selected>Select Gender</option>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
  </select>
</div>

<!-- Contact Number -->
<div class="signup__field">
  <i class="signup__icon fas fa-phone"></i>
  <input type="tel" class="signup__input" placeholder="Contact Number" name="contactNumber" required>
</div>

<!-- Address -->
<div class="signup__field">
  <i class="signup__icon fas fa-map-marker-alt"></i>
  <input type="text" class="signup__input" placeholder="Address" name="address" required>
</div>

<!-- Email Address -->
<div class="signup__field">
  <i class="signup__icon fas fa-envelope"></i>
  <input type="email" class="signup__input" placeholder="Email Address" name="emailAddress" required>
</div>

<!-- Chamber Address -->
<div class="signup__field">
  <i class="signup__icon fas fa-map-marker-alt"></i>
  <input type="text" class="signup__input" placeholder="Chamber Address" name="chamberAddress" required>
</div>

<!-- Hospital Name -->
<div class="signup__field">
  <i class="signup__icon fas fa-hospital"></i>
  <input type="text" class="signup__input" placeholder="Hospital Name" name="hospitalName" required>
</div>

<!-- Consultation Fee -->
<div class="signup__field">
  <i class="signup__icon fas fa-dollar-sign"></i>
  <input type="number" class="signup__input" placeholder="Consultation Fee" name="consultationFee" required>
</div>

<!-- Follow-up Fee -->
<div class="signup__field">
  <i class="signup__icon fas fa-dollar-sign"></i>
  <input type="number" class="signup__input" placeholder="Follow-up Fee" name="followupFee" required>
</div>
<div class="signup__schedule">
    <label for="specialty">Specialty</label>
    <select name="specialty" id="specialty" required>
        <option value="General Physician">General Physician</option>
        <option value="Gynecology">Gynecology</option>
        <option value="Dermatology">Dermatology</option>
        <option value="Orthopedics">Orthopedics</option>
        <option value="ENT">ENT (Ear, Nose, and Throat)</option>
        <option value="Cardiology">Cardiology</option>
        <option value="Neurology">Neurology</option>
        <option value="Gastroenterology">Gastroenterology</option>
        <option value="Urology">Urology</option>
        <option value="Endocrinology">Endocrinology</option>
    </select>
</div>

<!-- Password -->
<div class="signup__field">
  <i class="signup__icon fas fa-lock"></i>
  <input type="password" class="signup__input" placeholder="Password" name="password" required>
  <span class="password-toggle" onclick="togglePasswordVisibility()">
      <i class="fas fa-eye"></i>
  </span>
</div>

                    <!-- Doctor Schedule Fields -->
                    <div class="signup__schedule-container">
                      <div class="signup__schedule">
                          <label for="starttime">Start Time</label>
                          <select name="starttime" id="starttime" required>
                              <!-- Options for start time -->
                          </select>
                      </div>
                      <div class="signup__schedule">
                          <label for="endtime">End Time</label>
                          <select name="endtime" id="endtime" required>
                              <!-- Options for end time -->
                          </select>
                      </div>
                  </div>
                  
                    <div class="signup__schedule">
                        <label for="day">Day</label>
                        <input type="text" class="signup__input" name="day" id="day" required>
                    </div>
                    <div class="signup__schedule">
                        <label for="capacity">Capacity</label>
                        <input type="number" class="signup__input" name="capacity" id="capacity" required>
                    </div>
                    <!-- End of Doctor Schedule Fields -->

                    <!-- Add password field and submit button -->
                    <button class="signup__submit" type="submit">Signup!</button>
                </form>

                <div class="signup-link">
                    <p>Already have an account? <a href="/doctors/login" style="text-decoration: none; color: #fff;">Log In</a></p>
                </div>
            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>
        </div>
    </div>



    <!-- Add this script to initialize the date picker -->
    <script>
       $(document).ready(function () {
    // Initialize date picker with placeholder text
    $("input[name='day']").datepicker({
        dateFormat: "yy-mm-dd", // Set the desired date format
        changeMonth: true,
        changeYear: true,
        yearRange: "1900:+0", // Set the range of selectable years
        showButtonPanel: true // Show today and clear buttons
    });

    // Set placeholder text
    $("input[name='day']").attr("placeholder", "Date");

    // Populate start time and end time dropdowns
    var startTimeSelect = $("#starttime");
    var endTimeSelect = $("#endtime");

    // Generate start time options
    for (var hour = 8; hour <= 12; hour++) { // Loop for AM hours
        startTimeSelect.append($('<option>', {
            value: (hour < 10 ? '0' : '') + hour + ':00 AM',
            text: (hour < 10 ? '0' : '') + hour + ':00 AM'
        }));
        startTimeSelect.append($('<option>', {
            value: (hour < 10 ? '0' : '') + hour + ':30 AM',
            text: (hour < 10 ? '0' : '') + hour + ':30 AM'
        }));
    }

    for (var hour = 1; hour <= 3; hour++) { // Loop for PM hours
        startTimeSelect.append($('<option>', {
            value: '0' + hour + ':00 PM',
            text: '0' + hour + ':00 PM'
        }));
        startTimeSelect.append($('<option>', {
            value: '0' + hour + ':30 PM',
            text: '0' + hour + ':30 PM'
        }));
    }

    // Generate end time options
    for (var hour = 9; hour <= 13; hour++) { // Loop for AM hours
        endTimeSelect.append($('<option>', {
            value: (hour < 10 ? '0' : '') + hour + ':00 AM',
            text: (hour < 10 ? '0' : '') + hour + ':00 AM'
        }));
        endTimeSelect.append($('<option>', {
            value: (hour < 10 ? '0' : '') + hour + ':30 AM',
            text: (hour < 10 ? '0' : '') + hour + ':30 AM'
        }));
    }

    for (var hour = 2; hour <= 4; hour++) { // Loop for PM hours
        endTimeSelect.append($('<option>', {
            value: '0' + hour + ':00 PM',
            text: '0' + hour + ':00 PM'
        }));
        endTimeSelect.append($('<option>', {
            value: '0' + hour + ':30 PM',
            text: '0' + hour + ':30 PM'
        }));
    }
});


        $(document).ready(function () {
            // Initialize date picker with placeholder text
            $("input[name='dateOfBirth']").datepicker({
                dateFormat: "yy-mm-dd", // Set the desired date format
                changeMonth: true,
                changeYear: true,
                yearRange: "1900:+0", // Set the range of selectable years
                showButtonPanel: true, // Show today and clear buttons
            });

            // Set placeholder text
            $("input[name='dateOfBirth']").attr("placeholder", "Date of Birth");
        });
    </script>
</body>

</html>
